/* нормализация размеров */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  border: 10px solid #000;
}
.flex-item {
    padding: 10px;
    color: #fff;
    text-align: center;
}
.item1{
  background: red;
}
.item2{
  background: gray;
}
.item3{
  background: green;
}
.item4{
  background: blueviolet;
}
.item5{
  background: blue;
}
.item6{
  background: pink;
}
.item7{
  background: brown;
}
.item8{
  background: yellow;
}

/* кастомные стили */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* тут элементы растянуться на всю высоту */
  min-height: 100vh;
  /* растояние между лементами, по краям не добавляет */
  gap: 10px;
}
.flex-item{
  width: calc(33.33% - 20px);
  /* margin: 10px; */
}